@charset "utf-8";
html{ font-size: 62.5%; }
body, h1, ul{
	margin: 0;
}

body{
	font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","PingFang SC","Arial","Microsoft YaHei",sans-serif;
	font-size: 1.4rem;
}

ul{
	padding-left: 0;
	list-style: none;
}

a{
	text-decoration: none;
	color: #27A2E2;
}

a:hover{ color: #f60; }

.clearfix {
	overflow: hidden;
	_zoom:1;
}



.navbar { margin-bottom: 0;}

.header h1 a{
	background: url(../images/logo.gif) no-repeat;
	width: 120px;
	height: 60px;
	display: block;
	text-indent: -9999px;
	
}

.navbar-nav > li > a{
	padding-top: 20px;
	padding-bottom: 20px;
}

.banner img{ width: 100%; }


